{:paths
 ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:uberjar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
   :main-opts  ["-m" "hf.depstar.uberjar" "simple-repl.jar"
                "-C" "-m" "practicalli.simple-repl"]}}}
